
.info2{
  min-height: 20vh;
  margin: 20px 36px !important;
  /* border: 2px solid black !important; */
  border-radius: 14px !important;
  box-shadow: 2px 2px 4px #49474a !important;
  /* background-color: white !important; */
  word-wrap: break-word !important;
  padding: 10px !important;

}

.main{
  max-height: 500vh;
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  .main {
    flex-wrap: wrap;
  }
}

.Comment{
  height: 65vh;
  width: 50vw;
}
.txtarea {
  width:50vw;
  height: 30vh;
  resize: vertical;
  border-radius: 10px;
  padding: 5px;
  border-radius: 0.5rem;
  padding: 1rem !important;
  font-size: 1rem;
  background: #111827;
  color: white;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hed{
  height: fit-content;
  text-align: center;
  margin: 12px; 
  position: relative;
  left: 20px;
} 

h2{
  font-size: 1.8rem;
}

.box{
  border: 2px solid black;
  width: 70vw;
  height: 20vh;
  margin: 10px;
}

.fadeInUp{animation:fadeInUp 2s ease backwards;}

@keyframes fadeInUp{
  0%{transform:translate(0px, 200px); opacity: 0;}
  100%{transform:translate(0px, 0px); opacity: 1;}
}

::-webkit-scrollbar{
  width: 10px;
  height: 12px;
}

::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: 1rem;
  background-clip: content-box;
  border: 2px solid transparent;
}
@media only screen and (max-width: 768px) {
  .main {
    flex-wrap: wrap;
  }
  .main2{
    width: fit-content;
    justify-content: center;
    
  }
  .info{
    width: 80vw;
    margin: 20px auto;
  }
  .Comment{
    width: 80vw;
  }
  .txtarea{
    width: 80vw;
  }
}

@media only screen and (min-width: 1300px) {
  .outof{
    right: 80px;
  }
}

.info p{
  display: block;
  padding: 0px;
}



/* .imgcss{
  margin: auto;
  position: relative;
  top: 10px; 
  left: 10px; 
  
} */

/* .App {
  background-image: url(./so-white.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#Profile{
  width: 50vw;
  height: 60vh;
  margin-left: 0px;
} */
